{% extends 'layoutNav.html' %}

<!-- ======= Extiende de layoutNav para la pagina inicial ======= -->


{% load static %}

{% block content %}

<main id="main" class="main">

  <!--section class="section dashboard">
    <div class="row">

      <div class="col-lg-3">
           
           <div class="card">
            <img src="{% static 'assets/img/course-details-tab-1.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card with an image on top</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-danger"><i class="bi bi-exclamation-octagon"></i></button>
              <button type="button" class="btn btn-warning"><i class="bi bi-exclamation-triangle"></i></button>
              <button type="button" class="btn btn-info"><i class="bi bi-info-circle"></i></button>
            </div>
          </div>
      </div>

      <div class="col-lg-3">
          
          <div class="card">
            <img src="{% static 'assets/img/course-details-tab-2.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card with an image on top</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-danger"><i class="bi bi-exclamation-octagon"></i></button>
              <button type="button" class="btn btn-warning"><i class="bi bi-exclamation-triangle"></i></button>
              <button type="button" class="btn btn-info"><i class="bi bi-info-circle"></i></button>
            </div>
          </div>
      </div>

      <div class="col-lg-3">
          
          <div class="card">
            <img src="{% static 'assets/img/course-details-tab-3.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card with an image on top</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-danger"><i class="bi bi-exclamation-octagon"></i></button>
              <button type="button" class="btn btn-warning"><i class="bi bi-exclamation-triangle"></i></button>
              <button type="button" class="btn btn-info"><i class="bi bi-info-circle"></i></button>
            </div>
          </div>
      </div>

      <div class="col-lg-3">
         
           <div class="card">
            <img src="{% static 'assets/img/course-details-tab-4.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card with an image on top</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-danger"><i class="bi bi-exclamation-octagon"></i></button>
              <button type="button" class="btn btn-warning"><i class="bi bi-exclamation-triangle"></i></button>
              <button type="button" class="btn btn-info"><i class="bi bi-info-circle"></i></button>
            </div>
          </div>
      </div>

    </div>

  </section-->
  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Datatables</h5>
            <p>Add lightweight datatables to your project with using the <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable</p>

            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">Nombre del curso</th>
                  <th scope="col">Nombre y apellido del alumno</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for curso, alumnos in cursos_con_alumnos.items %}
                  {% if alumnos %}
                    {% for alumno in alumnos %}
                      <tr>
                        {% if forloop.first %}
                          <td rowspan="{{ alumnos|length }}">{{ curso }}</td>
                        {% endif %}
                        <td>{{ alumno.nombre }} {{ alumno.apellido }}</td>
                        <td>
                          <button type="button" class="btn btn-success" ><i class="bi bi-check-circle"></i></button>
                          <button type="button" class="btn btn-danger"><i class="bi bi-exclamation-octagon"></i></button>
                          <button type="button" class="btn btn-warning"><i class="bi bi-exclamation-triangle"></i></button>
                          <button type="button" class="btn btn-info"><i class="bi bi-info-circle"></i></button>
                        </td>
                      </tr>
                    {% endfor %}
                  {% else %}
                    <tr>
                      <td>{{ curso }}</td>
                      <td colspan="2">No hay alumnos inscritos en este curso</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
            
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->


{% endblock %}