{% load static %}
 
{% block content %}

 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="#dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->
      {% if request.user.ingresopersona %}
      <p style="color: red;">Datos por completar</p>
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#profile-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Perfil</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="profile-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
       
          
            <li>
              <a href="{% url 'dashboard' %}">
                <i class="bi bi-circle"></i><span>Ver</span>
              </a>
            </li>
            {% if request.user.tutor %}
          <li>
            <a href="create_and_edit_categorias.html">
              <i class="bi bi-circle"></i><span>Crear</span>
            </a>
          </li>
          <li>
            <a href="components-badges.html">
              <i class="bi bi-circle"></i><span>Borrado Lógico</span>
            </a>
          </li>
          {% endif %}
          
        </ul>
        {% endif %}
         
      </li><!-- End Profile Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Categorías</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'gestion:categorias' %}">
              <i class="bi bi-circle"></i><span>Editar / Suspender</span>
            </a>
          </li>
          <li>
            <a href="{% url 'gestion:crear_categoria' %}">
              <i class="bi bi-circle"></i><span>Crear</span>
            </a>
          </li>
        </ul>
      </li><!-- End Categorias Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Cursos</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="forms-elements.html">
              <i class="bi bi-circle"></i><span>Crear</span>
            </a>
          </li>
          <li>
            <a href="forms-elements.html">
              <i class="bi bi-circle"></i><span>Ver</span>
            </a>
          </li>
          <li>
            <a href="forms-layouts.html">
              <i class="bi bi-circle"></i><span>Editar</span>
            </a>
          </li>
          <li>
            <a href="forms-editors.html">
              <i class="bi bi-circle"></i><span>Borrado Lógico</span>
            </a>
          </li>
          <li>
            <a href="{% url 'dashboard' %}">
              <i class="bi bi-circle"></i><span>Asignar docente</span>
            </a>
          </li>
        </ul>
      </li><!-- End Cursos Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Alumnos</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="tables-general.html">
              <i class="bi bi-circle"></i><span>Ver</span>
            </a>
          </li>
          <li>
            <a href="tables-data.html">
              <i class="bi bi-circle"></i><span>Proyecto</span>
            </a>
          </li>
        </ul>
      </li><!-- End Alumnos Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#formsi-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Inscripción</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="formsi-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'gestion:solicitudes-gestionar' %}">
              <i class="bi bi-circle"></i><span>Asignar a curso</span>
          </a>
          
          </li>
          {% if request.user.alumno %}
          <li>
            <a href="{% url 'gestion:seleccionar_cursos' %}">

              <i class="bi bi-circle"></i><span>Inscribirme</span>
            </a>
          </li>
          {% endif %}
          <li>
            <a href="forms-layouts.html">
              <i class="bi bi-circle"></i><span>Editar mi inscripción</span>
            </a>
          </li>
          <li>
            <a href="forms-editors.html">
              <i class="bi bi-circle"></i><span>Darme de baja</span>
            </a>
          </li>
          <li>
            <a href="forms-validation.html">
              <i class="bi bi-circle"></i><span>Docente</span>
            </a>
          </li>
        </ul>
      </li><!-- End Inscribirme Nav -->

    </ul>
  

  </aside><!-- End Sidebar-->

{% endblock %}